.game-filter {
	padding-left: 30px;
	padding-right: 30px;

	h3 {
		margin-top: 15px;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 15px;
		font-weight: normal;
	}

	li {
		list-style: none;
	}

	select {
		width: 100%;
	}
}