.alert-overlay,
.settings-overlay,
%overlay {
	display: none;
	opacity: 0;
	transition: .25s opacity;
	transition-delay: .25s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 500;

	&-window {
		color: $white;
		background: $darker-gray;
		border: 1px solid $border-highlight;
		outline: 1px solid $black;
		padding: 15px;
	}

	&.active {
		display: flex;
		opacity: 1;
		align-items: center;
		justify-content: center;
	}
}