$action-button-width: 32px;
$scrollbar-width: 12px;
$scrollbar-margin: 10px;

.window {
	&-titlebar {
		height: $titlebar-height;
		background: rgba(0, 0, 0, .9);
		color: $dark-gray;
		position: relative;
		z-index: 1000;
	}

	&-title {
		position: absolute;
		top: 0;
		left: 0;
		right: $action-button-width * 3;
		bottom: 0;
		-webkit-app-region: drag;
	}

	&-action-buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: $titlebar-height;
		float: right;
	}

	&-action-button {
		width: $action-button-width;
		text-align: center;
	}

	&-content {
		position: absolute;
		padding-top: $titlebar-height;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}
}

::-webkit-scrollbar {
    width: $scrollbar-width + ($scrollbar-margin * 2);
}
 
// Fake margining around the bar by using background-clip
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .33);
	border: $scrollbar-margin solid transparent;
	background-clip: content-box;
}

// Add some fake margin to the top of the scrollbar by utilizing the buttons
// &-content::-webkit-scrollbar-button:start {
// 	height: $titlebar-height;
// }