@import 'reset';
@import 'colors';
@import 'utility';
@import 'window';
@import 'grid';
@import 'game';

body,
html {
	background: $dark-gray;
}

html::after,
html::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid rgba(255, 255, 255, .1);
	pointer-events: none;
	z-index: 2000;
}

html::before {
	z-index: 2010;
	border: 1px solid $black;
}